.login_bottom_layout * {
  display: inline;
  padding: 0 1px;
}

button.big_button {
  width: 140px;
}

button.link {
  width: auto;
  color: #1abc9c;
  background-color: transparent;
  text-decoration: underline; 
}