.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 40px;
}

.spread_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.move_bar_layout {
  padding: 16px;
}

h2 {
  font-size: 36px;
  padding: 10px 0;
}

p {
  padding: 20px 0;
  padding-bottom: 80px;
}

button > img {
  width: 40px;
  height: 40px;
}

footer {
  background-color: #5e5e5e;
}
